body {
    height: 100%;
}



img.center {
  position:absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
  min-width: 150px;}
}

/* KEY */
#trigger:hover ~ body {
    background-color: : #fff;
}​
